body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

h1, h2, h3 {
    margin: 0;
}

#root {
    width: 960px;
    margin: 0 auto;
}

.header-block {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin-top: 50px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #444;
}

.album_item, .folder-album_item {
    list-style: none;
}

.users_list {
    list-style-type: decimal;
}

.users_list-item {
    margin-bottom: 5px;
}

a:hover {
    color: forestgreen;
}

.error {
    color: red;
    margin-top: 50px;
}

.loading {
    margin-top: 50px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album_item-title {
    text-align: center;
}

.album_item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.album_item {
    margin-bottom: 30px;
}

.album_item-count {
    margin: 10px 0;
}

.back_button {
    color: #444;
    font-size: 18px;
    padding: 10px 34px;
    background-color: cornflowerblue;
    border-radius: 0;
    border: none;
}

.back_button:hover {
    background-color: #6495ed9e;
    color: #3a3a3a;
    cursor: pointer;
}

.folder_album-ul {
    display: flex;
    flex-wrap: wrap;
}

.folder-album_item-link {
    display: flex;
}

.folder-album_item-link:hover {
    cursor: pointer;
}

.folder-album_item {
    margin: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}

.modal {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    z-index: 20;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close-modal:hover {
    opacity: 1;
    cursor: pointer;
}

.close-modal:before, .close-modal:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close-modal:before {
    transform: rotate(45deg);
}

.close-modal:after {
    transform: rotate(-45deg);
}

.prev, .next {
    margin-top: 20px;
}

.modal button {
    padding: 10px 25px;
    color: #444;
    font-size: 18px;
    background-color: cornflowerblue;
    border-radius: 0;
    border: none;
}

.modal button:hover {
    background-color: #6495ed9e;
    color: #3a3a3a;
    cursor: pointer;
}

.prev {
    margin-right: 40px;
}